{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["react-app", "eslint:recommended", "plugin:import/typescript", "airbnb", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "eqeqeq": "error",
    "dot-notation": "error",
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error", { "variables": false , "functions": false,"classes": false}],
    "react/prop-types": "off",
    "import/no-cycle": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "jsx-a11y/label-has-associated-control": [ 2, {
    "some": [ "nesting", "id" ]
    }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"],
          ["@components", "./src/components"],
          ["@assets", "./src/assets"],
          ["@hooks", "./src/hooks"],
          ["@pages", "./src/pages"],
          ["@mocks", "./src/mocks"],
          ["@routes", "./src/routes"],
          ["@utils", "./src/utils"],
          ["@context", "./src/context"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
