.themeIcon {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconText {
  margin-top: 10px;
}

.themeSection {
  padding: 70px;
  box-sizing: border-box;
}
