.mainLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.mainLayout__header__frame {
  width: 100vw;
  height: 54px;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  background-color: white;
}

.mainLayout__header {
  padding: 0 16px;
  display: flex;
  max-width: 1024px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.mainLayout__header__logo {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.mainLayout__header__login {
  color: black;
}

.mainLayout__footer__frame {
  margin-top: auto;
  background-color: #fafafc;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
}

.mainLayout__footer {
  max-width: 1024px;
  width: 100%;
  font-size: 16px;
}
