.flex {
    display: flex;
}

.alignCenter {
    align-items: center;
}

.justifyBetween {
    justify-content: space-between;
}

.layout {
    max-width: 1080px;
    margin: 0 auto;
}

.red {
    background-color: red;
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
}

.footer {
    background-color: rgb(250, 250, 250);
    height: 200px;
}
