.container {
  color: #333;
}
.sub-container {
  max-width: 1024px;
  margin: 0 auto; 
  padding : 50px 20px;
  text-align: left;
}
.label {
  color : #ffffffb3;
  font : 20px "Malgun Gothic";
  font-weight: bold;
}
.title {
  color : #ffffff;
  font : 30px "Malgun Gothic";
  padding : 12px 0px 0px;
  font-weight: bold;
}
.description {
  color : #ffffff8c;
  font : 24px "Malgun Gothic";
  padding : 12px 0px 0px;
}