.login-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.login-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-page form {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(254, 229, 0);
  color: rgb(17, 17, 17);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(222, 203, 36, 0.925);
}
