.header {
    position: fixed;
    width: 100%;
}

.selectFriend {
    background-color: #F6F6F6;
    padding: 40px calc(8% + 100px);
    display: flex;
    align-items: center;
}

.selectFriendTitle {
    font-size: 26px;
    padding: 0 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 기본적으로는 2행 6열 */
    justify-content: center;
    gap: 40px;
    padding: 40px calc(8% + 120px);
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryText {
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.button01 {
    margin: 0 calc(8% + 120px);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.buttonSubtitle {
    color: #857D52;
}

.buttonTitle {
    padding-top: 5px;
    font-weight: bold;
    font-size: 18px;
}

.rankingContainer {
    margin: 120px calc(8% + 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rankingTitle {
    font-size: 35px;
    font-weight: bold;

}

.rankingSelectWhoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.rankingWhoItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 95px;
    cursor: pointer;
}

.whoItemImg {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3EFFE;
    border-radius: 25px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
}

.whoItemText {
    color: #6C6C6C;
}

.selectedItemWho .whoItemImg {
    background-color: #719CE9;
}

.selectedItemWho .whoItemText {
    color: #4078DF;
    font-weight: bold;
}

.rankingSelectBox {
    display: flex;
    background-color: #E3EFFE;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #D9E5FB;
    margin: 10px;
}

.rankingBoxItem {
    margin: 20px 30px;
    color: #719CE9;
    font-size: 22px;
    cursor: pointer;
}

.selectedItemWhich {
    color: #4078DF;
    font-weight: bold;
}


@media (max-width: 992px) {
    .selectFriend {
        padding: 40px calc(4% + 20px);
    }
}

@media (max-width: 768px) {
    .selectFriend {
        padding: 40px 20px;
    }
}

@media (max-width: 1200px) {
    .categories {
      grid-template-columns: repeat(4, 1fr); /* 1200px 이하에서는 4행 4열 */
    }
  }