.selectFriend {
    background-color: #F6F6F6;
    padding: 40px calc(8% + 100px);
    display: flex;
    align-items: center;
}

.selectFriendTitle {
    font-size: 26px;
    padding: 0 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 기본적으로는 2행 6열 */
    justify-content: center;
    gap: 40px;
    padding: 40px calc(8% + 120px);
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryText {
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.button01 {
    margin: 0 calc(8% + 120px);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.buttonSubtitle {
    color: #857D52;
}

.buttonTitle {
    padding-top: 5px;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 992px) {
    .selectFriend {
        padding: 40px calc(4% + 20px);
    }
}

@media (max-width: 768px) {
    .selectFriend {
        padding: 40px 20px;
    }
}

@media (max-width: 1200px) {
    .categories {
      grid-template-columns: repeat(4, 1fr); /* 1200px 이하에서는 4행 4열 */
    }
  }