.Mypage {
  width: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.mypageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  margin-bottom: 100px;
}

.hello {
  font-size: 35px;
  font-weight: bold;
  margin: 70px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonLogout {
  margin: 0 100px;
}

.buttonTitle {
  font-size: 15px;
}
