.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.themeContainer {
  padding-top: 64px;
}

.themeItemContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 기본적으로는 2행 6열 */
  justify-content: center;
  gap: 20px;
  padding: 40px calc(8% + 100px);
  margin-bottom: 100px;
}
