.Banner {
    background-color: #4d4c4c;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Banner-container {
    width: 60%;
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}
.label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 700;
}
.title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
}
.description {
  color: rgba(255, 255, 255, 0.55);
  font-size: 24px;
  font-weight: 400;
  padding-top: 10px;
}
