.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  gap: 20px;
}
