.targetCategory-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.targetCategory__icon {
  background-color: rgb(230, 241, 255);
  border-radius: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_selected {
  background-color: rgb(70, 132, 233);
  border-radius: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.targetCategory__target {
  font-size: 20px;
  color: rgb(102, 102, 102);
  margin-top: 6px;
}
.target_selected {
  font-size: 20px;
  font-weight: 700;
  color: rgb(70, 132, 233);
  margin-top: 6px;
}
